// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$angular-personal-dashboard-primary: mat.define-palette(mat.$indigo-palette);
$angular-personal-dashboard-accent: mat.define-palette(
  mat.$pink-palette,
  A200,
  A100,
  A400
);

// The warn palette is optional (defaults to red).
$angular-personal-dashboard-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$angular-personal-dashboard-theme: mat.define-light-theme(
  (
    color: (
      primary: $angular-personal-dashboard-primary,
      accent: $angular-personal-dashboard-accent,
      warn: $angular-personal-dashboard-warn,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($angular-personal-dashboard-theme);

/* You can add global styles to this file, and also import other style files */
@import url("https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined");
html {
  font-family: "Inter", "sans-serif";
  color: #222;
  overflow: hidden;
}

html,
body {
  height: 100%;
}

h1 {
  font-size: 48px;
}
h2 {
  font-size: 40px;
  margin-bottom: 25px;
}
a {
  text-decoration: none;
}

h1.is-bold,
h2.is-bold {
  font-weight: bold;
  letter-spacing: 2px;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.container {
  max-width: 850px;
  // background: rgba($color: black, $alpha: 0.25);
  margin: auto;
}

.btn {
  padding: 12px 22px;
  background-color: rgba($color: #000000, $alpha: 0.7);
  color: white;
  display: inline-flex;
  align-items: center;
  font-size: 18px;
  border-radius: 5px;
  font-weight: 600;
  cursor: pointer;
  text-decoration: none;
  font-family: inherit;
  border: none;

  &:hover {
    background-color: rgba($color: #000000, $alpha: 0.8);
    backdrop-filter: blur(2px);
  }
  &:active {
    background-color: rgba($color: #000000, $alpha: 0.9);
  }
}

.btns-container {
  margin-top: 20px;
  display: flex;
  gap: 12px;
  &.btns-centered {
    justify-content: center;
  }
  .align-end {
    margin-left: auto;
  }
}

.has-blurred-white-bg {
  background: rgba($color: white, $alpha: 0.85);
  backdrop-filter: blur(20px);
}

.form-field {
  margin-bottom: 20px;

  label.form-label {
    display: block;
    margin-bottom: 5px;
    font-weight: 600;
    color: rgba($color: #000000, $alpha: 0.75);
  }
}

.textbox,
textarea {
  font-size: 18px;
  font-family: inherit;
  display: block;

  padding: 8px 10px;
  // margin-bottom: 20px;

  background: rgba($color: white, $alpha: 0.9);

  border: 2px solid rgba($color: #000000, $alpha: 0.3);
  border-radius: 4px;

  width: 100%;

  &:hover {
    background: rgba($color: white, $alpha: 0.95);
  }

  &:focus {
    background: white;
    outline: none;
  }

  &:hover,
  &:focus {
    border-color: rgba($color: #000000, $alpha: 0.42);
  }
}

.textarea {
  resize: vertical;
  min-height: 100px;
}
