.tabs {
  display: flex;
  padding: 10px;
  background-color: rgba($color: white, $alpha: 0.25);
  backdrop-filter: blur(3px);
  border-radius: 12px;
  gap: 14px;
  margin: 12px;
  margin-top: 50px;
}
.tab {
  position: relative;
  z-index: 1;
  text-decoration: none;
}
.tab-tile {
  display: flex;
  padding: 18px;
  background-color: rgba($color: black, $alpha: 0.1);
  cursor: pointer;
  border-radius: 10px;
  transition: all 0.3s;

  i {
    color: #222;
  }
}
.tab.selected .tab-tile{
  transform: translateY(-50%);
  transition-duration: 0.5s;
  border-radius: 50%;
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.5);
}

// STYLES FOR THE TAB TILES BACKGROUND 'SHAPE'

.tab-tile::before {
  content: "";

  position: absolute;
  top: 0;
  left: 0;

  height: 100%;
  width: 100%;

  border-radius: 10px;
  z-index: -1;

  opacity: 0.9;

  transition: all 0.2s ease-out;
}

.bookmarks-tab .tab-tile::before{
  background: linear-gradient(45deg , #f8b5a5, #e2d2fd);
}

.todos-tab .tab-tile::before{
  background: linear-gradient(45deg , #a2ffff, #ffbdde);
}

.notes-tab .tab-tile::before{
  background: linear-gradient(45deg , #d2cdff, #5fffbc);
}

.tab-tile:hover::before{
    transform: scale(1.1);
    opacity: 1;
}

.tab.selected .tab-tile::before{
  border-radius: 50%;
  transform: scale(1.1);
  opacity: 1;
  box-shadow: 0px 7px 20px rgba($color: black, $alpha: 0.15);
}
// END OF TAB TILE BACKGROUND 'SHAPE' TILES




// STYLES FOR THE UNDERLINE EFFECT

.tab::after{
  content: '';
  position: absolute;
  bottom: -10px;
  left: 25%;

  height: 3px;
  width: 50%;

  background-color: rgba(255, 255, 255, 0.5);

  transition: all 0.3s;

  // DEFAULT STYLE 
  opacity: 0;
  transform: scaleX(0);
  border-radius: 1.5px;
}

.tab.selected::after{
  opacity: 1;
  transform: scaleX(1);
  transition-delay: 0.2s;
}
.tab.selected{
  outline: none;
}

// END FOR THE UNDERLINE EFFECT

