.manage-bookmarks-wrapper {
  height: 100%;
  display: flex;
}
.sidebar {
  height: 100%;
  width: 220px;
  background-color: rgb(82, 0, 82);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  overflow: auto;
}
.sidebar-heading{
  color: rgb(206, 17, 206);
  font-weight: 600;
  font-size: 20px;
  padding: 25px;
}
.sidebar-items{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 18px;
}
.sidebar-item{
  padding: 5px 25px;
  color: rgba(245, 245, 245, 0.795);
  position: relative;
  &:hover {
    color: rgba($color: #ac47b9, $alpha: 0.5)
  }

  &.selected {
    color: rgb(212, 25, 212);
  }
}

.sidebar-item::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 2px;
  background-color: violet;

  transition: 0.4s;

  // HIDE BY DEFAULT
  opacity: 0;
  transform: scaleY(0);
}

.sidebar-item.selected::before {
  opacity: 1;
  transform: scaleY(1);
}
.content {
  flex-grow: 1;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;

  overflow: auto;
}
